profiles {
  standard {
    process.conda = "$baseDir/environment.yml"
    includeConfig "$baseDir/conf/mendel.config"
  }
  debug {
    //TODO clean up and merge to different config file
    process.executor = 'pbspro'
    process.module = ['Miniconda3/4.4.10']
    process.conda = "$baseDir/environment.yml"
    process.queue = 'debug'
    process.memory = '16G'
    process.cpus = '16'
    process.time = '0.5h'
    params.ref_fasta = "/lustre/scratch/projects/rnaseq_nod/genomes/tair10/fasta/*.fa"
    params.intron_max = '4000'
    params.genome = 'TAIR10'
    params.primers = 'resources/primers_bookend.fasta'
  }
}
