profiles {
  standard {
    includeConfig 'conf/mendel.config'
  }
}

process {

  $run_ccs{
    module = ['isoseq/3.0.0-RC1-GCCcore-6.4.0']
    cpus = { 16 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 4.h * task.attempt }
  }
  
  $run_lima{
    module = ['isoseq/3.0.0-RC1-GCCcore-6.4.0']
    cpus = { 16 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 4.h * task.attempt }
  }

  $cluster_reads{
    module = ['isoseq/3.0.0-RC1-GCCcore-6.4.0']
    cpus = { 16 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 6.h * task.attempt }
  }

  $polish_reads{
    module = ['isoseq/3.0.0-RC1-GCCcore-6.4.0']
    cpus = { 16 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 6.h * task.attempt }
  }

  $build_index{
    module = ['STAR/2.5.3a-foss-2016a']
    cpus = { 8 * task.attempt }
    memory = { 16.GB * task.attempt }
    time = { 1.h * task.attempt }
  }

  $align_reads{
    module = ['STAR/2.5.3a-foss-2016a', 'SAMtools/1.3.1-foss-2016a']
    cpus = { 16 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 4.h * task.attempt }
  }

  $bam_to_bed{
    module = ['BEDTools/2.27.1-foss-2016b']
    cpus = { 8 * task.attempt }
    memory = { 12.GB * task.attempt }
    time = { 2.h * task.attempt }
 }
}