params {
  //change the projectName variable to fit your groups project name
  projectName = "rnaseq_nod"
  projectDir = "/lustre/scratch/projects/$projectName"
  
  //change this to fit your input directory globbing pattern
  input = '.'
  genome = 'TAIR10'
  primer_type = 'default'
 
  primers_stets {
    'default' {
      //default primers, see https://github.com/PacificBiosciences/IsoSeq3/blob/master/README_v3.1.md
      primer_file = 'resources/primers_original.fasta'
    }
    'bookend' {
      //primers contain one 5'G less
      //this is needed to allow for identification of capped transcripts
      primer_file = 'resources/primers_original.fasta'    
    }
  }
  genomes {
    'TAIR10' {
      fasta_file = "$params.projectDir/genomes/tair10/fasta/tair10.fa"
      intron_max = 5000
    }
    'GRCm38' {
      fasta_file = "$params.projectDir/genomes/GRCm38/fasta/grcm38.fa"
      intron_max = '100000'
    }
  }
}

process{

  executor = 'pbspro'
  module = ['Miniconda3']
  errorStrategy = 'retry'
  maxRetries = 2

  withName:ccs_calling{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h * task.attempt }
  }
  withName:primers_rm{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h * task.attempt }
  }
  withName:run_refine{
      cpus = { 24 * task.attempt }
      memory = { 64.GB * task.attempt }
      time = { 16.h * task.attempt}
  }
  withName:merge_samples{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h * task.attempt}
  }
  withName:cluster_reads{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h * task.attempt}
  }
  withName:polish_reads{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 24.h * task.attempt}
  }
  withName:align_reads{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h * task.attempt}
  }
}
