//change the projectName variable to fit your groups project name
projectName = 'rnaseq_nod'
projectDir = "/lustre/scratch/projects/$projectName"

process{
  executor = 'pbs'
  queue = 'workq'
  clusterOptions = "-P $projectName -N isoseq3"
}

params {
  genomes {
    'TAIR10' {
      annotation = "$projectDir/genomes/tair10/annotation/Arabidopsis_thaliana.TAIR10.32.gtf"
      fasta = "$projectDir/genomes/tair10/fasta/*.fa"
      index_dir = "$projectDir/genomes/tair10/index"
      star_index = 'starlong_tair10'
      intron_max = 6000
      transcript_max = 60000
    }

    'Araport11' {
      annotation = ''
      fasta = ''
      intron_max = ''
      transcript_max = ''
    }

    'GRCm38' {
      annotation = ''
      fasta = ''
      intron_max = ''
      transcript_max = ''
    }
  }
}
