params {
  //change the projectName variable to fit your groups project name
  projectName = "rnaseq_nod"
  projectDir = "/lustre/scratch/projects/$projectName"
  
  //change this to fit your input directory globbing pattern
  input = '.'
  genome = 'TAIR10'

  //primers contain one 5'G less
  //this is need to allow for identification of capped transcripts
  primers = 'resources/primers_bookend.fasta'

  //uncomment this line to use the origninal primers
  //primers = 'resources/primers_original.fasta'

  genomes {
    'TAIR10' {
      fasta = "$params.projectDir/genomes/tair10/fasta/*.fa"
      intron_max = 4000
    }
    // TODO: needs to be added
    'GRCm38' {
      fasta = "$params.projectDir/genomes/GRCm38/fasta/*.fa"
      intron_max = ''
    }
  }
}

process{

  executor = 'pbs'
  clusterOptions = "-P $params.projectName -N isoseq3"
  errorStrategy = 'retry'
  maxRetries = 2

  withName:ccs_calling{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h }
  }
  withName:primers_rm{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h }
  }
  withName:run_refine{
      cpus = { 24 * task.attempt }
      memory = { 64.GB * task.attempt }
      time = { 16.h }
    }
  withName:merge_samples{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h }
  }
  withName:cluster_reads{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h }
  }
  withName:polish_reads{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h }
  }
  withName:align_reads{
    cpus = { 24 * task.attempt }
    memory = { 64.GB * task.attempt }
    time = { 16.h }
  }
  withName:bam_to_bed{
    cpus = { 12 * task.attempt }
    memory = { 32.GB * task.attempt }
    time = { 8.h * task.attempt }
 }
}